ul{
    list-style: none;
}

.list{
    margin: 0;
    padding-left: 10px;
}

.ingredients{
    position: relative;
}

.ingredients__item{
    margin-left: 30px;
}

.ingredients__item::before{
        display: inline-block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: #dedaca;
        border-radius: 50%;
        content: "";
        height: 10px;
        width: 10px;
    
}
.left{
    
    margin-left: 5rem;
}

.recipe{
    margin: 2rem;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    background: white;
    padding: 0 5rem 2rem;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.steps{
    margin-left: 5rem;
}

@media screen and (min-width: 1024px) {
    
}